<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <label>
    Amusement Park:
    <input type="text" name="park" autocomplete="off">
  </label>
  <label>
    Visited Park?
    <input type="checkbox" name="visited">
  </label>
  <button type="submit">Update Park</button>
</section>

<%- include('../partials/footer') %>