#profile-img {
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  width: 100px;
}

img {
  border-radius: 10px;
}

#profile-name {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  margin: 10px 0;
}