#profiles {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px;
  width: 100px;
}

img {
  border-radius: 10px;
}

#profile-pic {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  margin: 20px 0;
}