.edit-park {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 35px;
  margin-top: 50px;
}

.park-edit-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 15px 0;
}

.park-edit-form > label {
  margin: 10px 10px;
}

.edit-btn {
  padding: 5px;
  border-radius: 10px;
  height: 30px;
}

