section, form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 40px;
}

h2, h3 {
  margin-top: 40px;
  margin-bottom: 20px;
}

.addPark {
  border-radius: 10px;
  margin: 5px auto;

}

#addNewPark {
  border-radius: 15px;
  margin-top: 10px;
  padding: 8px;
}

ul {
  list-style: none;
}

ul > li {
  margin-bottom: 7px;
}
