section {
  margin: 40px 0;
  text-align: center;
}

h2 {
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 30px;
}

p {
  margin-bottom: 15px;
}

.park-form {
display: inline;
}

.park-btn {
  margin-top: 10px;
  padding: 5px;
  border-radius: 10px;
  width: 140px;
}

ul {
  text-align: center;
  margin-top: 35px;
  list-style: none;
}