<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/parks/edit.css">
<%- include('../partials/nav') %>

<section class="edit-park">
  <h1>Edit this thrill!</h1>
  <form class="park-edit-form" action="/parks/<%= park._id %>?_method=PUT" method="POST">
    <label>
      Amusement Park:
      <input type="text" name="park" autocomplete="off">
    </label>
    <label>
      Favorite Ride:
      <input type="text" name="ride" autocomplete="off">
    </label>
    <button class="edit-btn" type="submit">Save Park</button>
  </form>
</section>

<%- include('../partials/footer') %>